/* .forms {
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: center;
}

.auth-card {
    max-width: 400px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 35px 10px rgba(30, 143, 255, 0.288);
    border: 2px solid rgba(30, 143, 255, 0.438);
}

.auth-card > h2 {
    color: rgb(0, 165, 241);
    font-size: 3.9rem;
    font-family: Kaushan Script, cursive !important;
    text-shadow: 1px 1px 2px rgba(12, 12, 12, 0.158);
    margin-bottom: 50px;
}

.auth-card > input {
    border-bottom: 1px solid  dodgerblue !important;
    padding: 5px !important;
    text-align: center;
    font-size: larger !important;
    margin-bottom: 20px !important;
}
.auth-card > input:focus {
    box-shadow: 0px 2px 2px  rgba(255, 192, 203, 0.596) !important;
    box-shadow: 0px 2px 2px  dodgerblue !important;

}

.auth-card > button {
    background-color: white !important;
    color: dodgerblue !important;
    font-weight: bold;
    padding: 0 60px !important;
    border: 2px solid dodgerblue;
    border-radius: 20px;
    box-shadow: none;
    margin-top: 10px;
    transition: margin 0.3s, transform 0.3s, box-shadow 3s;
    transform: scale(1.1);
}

.auth-card > button:hover {
    box-shadow: 0px 0px 10px 5px rgba(30, 143, 255, 0.205) !important;
    margin-top: 50px;
}

.auth-card > button:focus {
    background-color:  dodgerblue !important;
    color: white !important;
    box-shadow: 0px 0px 10px 5px rgba(30, 143, 255, 0.205) !important;
    margin-top: 50px;
    transform: scale(1.1);
}
.link-container {
    margin-top: 20px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 5px;
    border: 2px solid rgb(255, 255, 255);
    transition: border-color 0.5s, box-shadow 1s;
}

.link-container:hover{
    border-color: dodgerblue;
    box-shadow: 0px 0px 10px 2px rgba(30, 143, 255, 0.527);
}

.link-container:focus{
    border-color: dodgerblue;
    box-shadow: 0px 0px 10px 2px rgba(30, 143, 255, 0.527);
}

.link {
    color: rgb(0, 122, 245) !important;
    cursor: pointer !important;
}

#toast-container {
    top: 0 !important;
    left: auto;
    right: 2 !important;
    bottom: auto;
}

@media only screen and (max-width: 560px) {
    .auth-card{
        padding: 20px;
    }
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body,
input {
  font-family: "Poppins", sans-serif;
}

.main {
    background-color: dodgerblue;
}

.main-signin {
  background-color: white;
}

.container {
  margin: 0 !important;
  position: relative;
  width: 100% !important;
  background-color: #fff;
  min-height: 800px !important;
  overflow: hidden;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

.form {
  height: auto !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin-bottom: 150px;
}

.form.sign-up-form {
  opacity: 0;
  z-index: 1;
}

.form.sign-in-form {
  z-index: 2;
}

.img-and-upload-btn-container {
  /* background-color: #aaa; */
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  position: relative;
}

.img-upload-btn-container {
  position: absolute;
  bottom: -5px;
  right: 0;
  background-color: white;
  border-radius: 50px;
  border: 2px solid dodgerblue;
}

.img-upload-btn {
  color: dodgerblue !important;
}

#image-upload {
  display: none;
}

.input-field {
  font-size: larger !important;
  max-width: 380px;
  width: 100%;
  margin: 10px 0 !important;
  height: 55px !important;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem !important;
  position: relative;
  text-align: center;
  border-color: dodgerblue !important;
}
 
.input-field::placeholder {
  color: #aaa;
  font-weight: 500;
}

.btn {
  background-color: white !important;
  color: dodgerblue !important;
  font-weight: bold;
  padding: 0 60px !important;
  border: 2px solid dodgerblue;
  outline: none;
  height: 39px;
  border-radius: 39px;
  box-shadow: none;
  margin: 10px;
  transition: margin 0.3s, transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.btn:hover {
    box-shadow: 0px 0px 10px 5px rgba(30, 143, 255, 0.205) !important;
    margin-top: 50px;
}

.btn:focus {
    background-color:  dodgerblue !important;
    color: white !important;
    box-shadow: 0px 0px 10px 5px rgba(30, 143, 255, 0.205) !important;
    margin-top: 50px;
    transform: scale(1.1);
}

.link-container {
    margin-top: 30px;
    margin-bottom: 10px;
    display: inline-block;
    padding: 8px 20px;
    font-size: large !important;
    border-radius: 5px;
    border: 2px solid rgb(255, 255, 255);
    transition: border-color 0.5s, box-shadow 1s;
}

.link-container:hover{
    border-radius: 30px;
    box-shadow: 0px 0px 10px 2px rgba(30, 143, 255, 0.205);
}

.link-container:focus{
    border-radius: 30px;
    box-shadow: 0px 0px 10px 2px rgba(30, 143, 255, 0.192);
}

.link {
    color: rgb(0, 122, 245) !important;
    cursor: pointer !important;
}

.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-color: dodgerblue;
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.image {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.panel .content {
  /* font-family: Kaushan Script, cursive !important; */
  color: #fff;
  transition: transform 0.9s ease-in-out !important;
  transition-delay: 0.6s !important;
}

.right-panel .image,
.right-panel .content {
  transform: translateY(800px);
}

/* ANIMATION */

.container.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}

.container.sign-up-mode .signin-signup {
  left: 25%;
}

.container.sign-up-mode form.sign-up-form {
  opacity: 1;
  z-index: 2;
}

.container.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content {
  transform: translateX(0%);
}

.container.sign-up-mode .left-panel {
  pointer-events: none;
}

.container.sign-up-mode .right-panel {
  pointer-events: all;
}

#toast-container {
    top: 0 !important;
    left: auto;
    right: 2 !important;
    bottom: auto;
}

@media only screen and (max-width: 870px) {
  .container {
    min-height: 850px !important;
  }
  .signin-signup {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .signin-signup,
  .container.sign-up-mode .signin-signup {
    left: 50%;
  }

  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .right-panel {
    grid-row: 3 / 4;
  }

  .left-panel {
    grid-row: 1 / 2;
  }

  .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel .content {
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }


  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .container:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .container.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .container.sign-up-mode .left-panel .image,
  .container.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .container.sign-up-mode .right-panel .image,
  .container.sign-up-mode .right-panel .content {
    transform: translateY(0px);
  }

  .right-panel .image,
  .right-panel .content {
    transform: translateY(300px);
  }

  .container.sign-up-mode .signin-signup {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media only screen and (max-width: 450px) {
  .form {
    padding: 0 1.5rem;
    margin-bottom: 150px !important;
    overflow-y: scroll;
  }

  .image {
    display: none;
  }

  .panel .signin-content {
    padding-right: 20%;
    margin-right: 6rem !important;
    margin-left: -2.5rem !important;
    margin-top: -1rem !important;
    margin-bottom: auto !important;
  }

  .panel .signup-content {
    margin-right: auto !important;
    margin-left: auto !important;
    margin-top:  auto !important;
    margin-bottom: -2rem !important;
  }

  .container {
    padding: 1.5rem;
    min-height: 850px !important;
  }

  .container:before {
    bottom: 72%;
    left: 50%;
  }

  .container.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }
}
